* {
  box-sizing: border-box;
}


.hand1{
  
}

.hand2{
  position: fixed;
  bottom: 50;
  left: 0;

}


.flexcontainer {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flexitemleft {
  
  padding: 10px;
  flex: 50%;
}

.flexitemright {
  margin-top: 50px;
  padding: 10px;
  flex: 50%;
  
}

  .header h2 {
    font-size: 4em;
    padding-top: 20px;
  }
  .header h3 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .btn {
    display: inline-block;
    background: #D42990;
    padding: 10px 16px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 500;
  }

  /* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flexcontainer {
    flex-direction: column;
    display: flex;
  }
}