.portfolio {
    text-align: center;
  }
  .portfolio > h2 {
    font-size: 3em;
    margin-top: 40px;
  }
  .portfolio > h3 {
    font-size: 2em;
    font-weight: 400;
  }

  .projectstyle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin: 80px 20px;
  }
  .projectstyle h3 {
    text-align: center;
    margin: 20px auto 0px;
    font-weight: 500;
  }
  .projectstyle p {
    color: #ccc;
    margin-top: 4px;
    font-size: 12px;
  }

  p{font-size: 16px; text-align: center;}

  /* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .projectstyle {
    flex-direction: column;
    display: flex;
   
  }
}